<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAll">
    <test name="case1">
        <classes>
            <class name="com.phamtrong.api.test.LoginTest"/>
            <class name="com.phamtrong.api.test.ListenGuidelineTest"/>
            <class name="com.phamtrong.api.test.reviewHasMap"/>
        </classes>
    </test>
</suite>